.chatbot-container {
	display: flex;
	flex-direction: column;
	background-color: #f3f4f5;
	border: 2rem, solid, #f3f4f5;
	padding: 1rem;
	border-radius: 16px;
	height: 60vh;
	align-items: center;
}

.chatbot-container h1 {
	text-align: center;
	display: inline-block;
}

.chatbot-title  {
	display: flex;
	align-items: center;
	gap: 0.2rem;
}

.robot-icon {
  font-size: 2rem;
  padding-bottom: .33rem;
  padding-right: .5rem;
  
}

.input-container {
	display: flex;
	align-items: center;
	width: 100%;
	gap: 1rem;
	justify-content: row;
}

.submit-btn {
	color: black;
}