:root {
	--tea-green: #c7efcf;
	--bittersweet: #FE5F55;
	--beige: #EEF5DB;
	--pearl: #D6D1B1;
	--fawn: #F0B67F;
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}
